<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Wait this isn't Dinosaur Comics! - About</title>
	<link rel="stylesheet" type="text/css" href="/media/css/main.css" />	
</head>
<body>  
  {% include 'userBar.html' %}
    <div style="padding-top: 30px;"> 
      <span> 
          <a href="http://www.qwantz.com/">Dinosaur Comics</a> are made by a dude named Ryan North and are COMPLETELY his property.   <!-- oh please don't sue me --> 
      </span> 
      <p>Thanks to Randomskk for hosting this.</p> <!-- sue him instead --> 
      <p> 
          Oh, yeah, and how this works.  Punch in an image number for a panel, it'll look for a comic image with it.
          But the image numbers don't match up with the comic IDs.  Maybe there's some pattern to it, but hell 
          if I, a mere mortal with a finite lifespan, can comprehend Mr. North's comic image organization methodology. <!-- seriously what the hell man --> 
      </p> 
      <p> 
          Sometimes, if there isn't an image at the number you punch in (or the number that gets randomly punched in for you) 
          the panel will automagically pick a(nother) random number and look there.  Sometimes it can get stuck doing this for a little
          while, slamming qwantz.com's server(s?) with lots of requests that just end with "ohcah 404". <!-- okay actually please don't sue random either --> 
      </p> 
      <p> 
          Also, you can click on a panel to display the rest of the comic it's from.  Mousing out of the panel will restore
          your randomized dinosaur comics' former glory.
      </p> 
      <p> 
          Anyway, enjoy.
      </p> 
      <p>-Xaiter</p> 
    </div> 
</body>
</html>
