<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
    <title>Wait, this isn't Dinosaur Comics! - Reset Password</title> <!-- Oh snap! -->    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>     
    <link rel="stylesheet" type="text/css" href="/media/css/main.css" />
</head> 
<body> 
{% include 'userBar.html' %}  
    <form method="POST"> 
      {% csrf_token %}  
      <table>
        {{ form.as_table }}
      </table>
        <input type="submit" value="Submit" />
    </form> 
</body> 
</html> 
 
 